@model WeatherApp.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrering";
}
<div class="wraper-layer">
    <div class="registration-layer">
        


        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info">
                Du loggades in med <strong>@ViewBag.LoginProvider</strong>.
                Vänligen skriv in ett användarnamn och tryck 'Skicka' för att slutföra registreringen.
            </p>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, "Namn:", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" class="btn btn-default" value="Skicka" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
