@using System.Configuration
@model WeatherApp.Views.Weather.WeatherIndexViewModel

@{
    ViewBag.Title = "Vädret";
    //var ajaxOptions = new AjaxOptions
    //{
    //    UpdateTargetId = "search-field"
    //};
}


<div id="title-layer">
    <h2 id="location-title" class="title-text">@Model.LocationObject.LocationText</h2>
    <h4 id="todays-day" class="title-text">@Model.DayOfWeekToday</h4>
    <img id="todays-symbol" src="~/Media/@(Model.Weather.Where(s=>s.ValidTime.Day == DateTime.Now.Day).Select(s=>s.Symbol).FirstOrDefault()).png" />
    <h3 id="title-temperature">@Model.Weather.Where(w => w.ValidTime.Date == DateTime.Now.Date).Select(t => t.Temperature).FirstOrDefault()&deg;C</h3>
    <p id="nameOfDay-layer">Idag har <span id="nameOfDay"></span> namnsdag.</p>

</div>

<div id="search-layer" class="form-group">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.LocationInput)
        @Html.EditorFor(m => m.LocationInput, new { htmlAttributes = new { @class = "form-control", id = "search-field" } })
        @Html.ValidationMessageFor(m => m.LocationInput, null, new { @class = "alert-danger" })
        <button class="btn btn-group-lg">Hämta</button>
    }
</div>


<div id="graph">

</div>
<div class="row">
    <ul class="list-unstyled list-inline">
        <li class="col-sm-1" style="color: white;">0</li>
        @foreach (var m in Model.Weather)
        {
            <li class="col-sm-2">
                <img src="~/Media/@(m.Symbol).png" class="img-responsive" />
                <div id="temperature">@m.Temperature&deg;</div>
                <div id="valid-date-layer">
                    <h3 id="valid-date-day">@Model.DayOfWeek(m.ValidTime)</h3>
                    <p id="valid-date">@m.ValidTime.ToString("yyyy-MM-dd") </p>
                </div>
            </li>
        }

    </ul>
</div>
@section scripts{
    @*Selects text when click on input*@
    <script>
        $(".form-control").on('click', function () {
            $(this).select();
        });
    </script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/graph.js"></script>

}
